*{
    padding: 0%;
    margin: 0%;
}
.menu1{
    background-color:#7A7081;
}
.navbar{
    line-height: 35px;
}
.btn{
    line-height: 15px;
}
.sect{
    background-image: url(../images/sect-bckg.png);
}
.leftparti{
    width: 25%;
    border: 2px solid black ;
}
.urgence{
    margin-left: 5%;
}

