.car{
     width: 20%;
}
.navbar-nav{
    background-color:#A59F9F;
}
.btn{
    line-height: 15px;
}
.urge{
   
   
}
.section1{
    background-image: url(../images/sect-bckg.png);
}
.pied{
    background-image: url(../images/foot-bckg.png);
}
    